.stage-cube-cont {
  width: 100%;
  height: 500px;
  margin-top: 5%;
  margin-left: 15%;

  //   top: 0;
  //   padding-top: 18%;
  //   padding-bottom: 20%;
  //   margin-left: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  //   right: 0;
  overflow: hidden;
  //   border: 2px solid red;

  @media screen and (max-width: 660px) {
    width: 100%;
    margin-left: -10%;
    margin-top: 10%;
  }
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  padding-right: 30%;

  div {
    position: absolute;

    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);

    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightYellow;
  }

  .face1 {
    transform: translateZ(100px);
  }

  .face2 {
    transform: rotateY(90deg) translateZ(100px);
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
  }

  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
  }

  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  60% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateY(90deg) rotateZ(90deg);
  }
}
